.locationList {
    display: flex;
    /* margin: 10px; */
    margin-top: 40px;
    padding-top: 30px;
    /* padding: 10px; */
    background-color: whitesmoke;
    justify-content: space-around;
    flex-direction: column;
    border: 4px solid grey;
    border-radius: 20px;
}

.locations {
    border: 5px solid blue;
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
}

