.kennel {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 4px solid grey;
    border-radius: 10px;
    /* margin-top: 40px; */
    margin-bottom: 40px;
    padding-top: 40px;
}
